.bg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-color: #2d2f34;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
	width: 500px;
	/* border: 2px solid #ccc; */
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

/* .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-right: 35px;
    padding: 20px 44px 40px 44px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(20, 24, 20, 0.664);
} */

.login-heading {
    text-align: center;
    font-size: 30px;
    /* color:black; */
    font-weight: 700;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}

/* .label-container {
    display: flex;
    flex-direction: column;
}

.login-labels {
    font-family: 'Roboto';
    color: #475569;  
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.login-inputs {
    font-size: 14px;
    width: 220px;
    height: 20px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.button {
  color: #ffffff;
  background-color: #1c55e6;
  text-align: center;
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 7px;
} */