.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.table-button {
    margin-top: 60px;
    color: #ffffff;
    background-color: #1c55e6;
    text-align: center;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 7px;
}
.table-container{
  width: 100vw;
  overflow: scroll;
}
table {
    margin-top: 25px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 70px;
    height: 35px;
  }

  th {
    color: #ffffff;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 70px;
    height: 35px;
    background-color: #010003;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  .update-button {
    background-color: #1c55e6;
    border: 0px;
    width: 78px;
    height: 30px;
    font-size: 13px;
    border-radius: 5px;
    color: #ffffff;
  }
  .delete-button {
    background-color: #d91212;
    border: 0px;
    width: 78px;
    height: 30px;
    font-size: 13px;
    border-radius: 5px;
    color: #ffffff;
  }